*.env*
*_pycache_*
.qodo
.idea
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
node_modules/
dist/
build/
venv/
.env
__pycache__/
*.sqlite3
*.db
*.egg-info/
.mypy_cache/
.coverage
*.pyo
*.pyc
*.orig
*.sublime-workspace
*.sublime-project
.vscode/
.pytest_cache/
